body{
    background-color: #222020;
}

.container{
    margin-right: 2vw;
    margin-left: 2vw;
}

.Header-1{
    color: white;
    font-family: 'Noto Sans KR', 'Times New Roman';
    font-size: 4vw;
    text-align: center;
    padding-top: 5vh;
    position: relative;
    bottom: 8vh;
}

.Header-2{
    color: #00FF47;
    font-size: 2.5vw;
    font-family: 'Raleway', 'Times New Roman';
}

.a-header{
    text-decoration: none;
}

.Subheader{
    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', 'Times New Roman';
    letter-spacing: 2px;
    font-size: 2vw;
}

.Subheader-sm{
    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', 'Times New Roman';
    letter-spacing: 2px;
    font-size: 1.5vw;
}

.text{
    color: white;
    font-family: 'Noto Sans KR', 'Times New Roman';
}

.a-tag{
    text-decoration: none;
    font-family: 'Raleway', 'Times New Roman';
    color: #00FF47;
}

.footer-text{
    text-decoration: none;
    font-family: 'Raleway', 'Times New Roman';
    color: #00FF47;
}

.footer{
    padding-top: 1vh;
    text-align: center;
    font-family: 'Raleway', 'Times New Roman';
    color: white;
    padding-top: 20vh;
}

@media only screen and (max-width: 767px) {

    .Header-1{
       font-size: 15vw;
    }
 
    .Header-2{
       font-size: 9vw;
    }

    .Subheader{
        font-size: 10vw;
    }

    .Subheader-sm{
        font-size: 8vw;
    }
    
}